
@model IEnumerable<ProviderViewModel>

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.ViewModels.Catalog

<div class="panel panel-primary">

    <div class="panel-heading">
        <button type="button" class="close" onclick="CloseQuickSearch()">
            <span class="fa fa-times"></span>
        </button>
        <h4 class="panel-title">
            <span class="fa fa-user"></span> Busquede de clientes
        </h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBox("FProviderName", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre del proveedor" })
                        <span class="input-group-btn">
                            <button id="btnQuickSearchClient" type="button" class="btn btn-primary" onclick="QuickSearchProvider()">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-default">
            <div class="panel panel-default">
                <div id="divProviderQuickSearchList" class="panel-body">
                    @Html.Partial("_ProviderQuickSearchList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  
    function QuickSearchProvider()
    {
        ShowModLoading();

        ExecuteAjax('@Url.Action("Search", "Providers")', { name: $("#FProviderName").val(), quickSearch: true }, function (view) 
        {
            HideModLoading(function ()
            {
                $("#divProviderQuickSearchList").html(view);
            });
        });
    }

    var onCloseQuickSearch;

    function CloseQuickSearch()
    {
        HideModal(onCloseQuickSearch, true);
    }

</script>
