@model SearchPersonViewModel<ProviderViewModel>
@using CerberusMultiBranch.Models.ViewModels.Catalog
@{
    ViewBag.Title = "Catálogo de Proveedores";
    ViewBag.Class = "fa fa-handshake-o";
}


<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="row">
            <div id="tbButtons" class="col-md-6"></div>

            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre del proveedor" })

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"  title="Buscar empleados" onclick="SearchProviders()">
                            <span class="glyphicon glyphicon-search"></span>
                            Buscar
                        </button>
                        <button type="button" class="btn btn-success"  title="Agregar nuevo empleado" onclick="BeginAdd()">
                            <span class="glyphicon  glyphicon-file"></span>
                            Agregar
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divProviders" class="panel-body dtContainer">
        @Html.Partial("_List", Model.Persons)
    </div>
</div>

<script>
    function BeginAdd()
    {
        ShowCatalogModal(SearchById, null, 'Provider', 0);
    }

    function SearchProviders()
    {
        ShowLoading('static');
        var data = {
            name: $("#txtName").val(),
        };

        ExecuteAjax('@Url.Action("Search")', data, function (response)
        {
            $("#divProviders").html(response);
        });
    }

    function SearchById(id)
    {
        ExecuteAjax('@Url.Action("Search")', { id: id }, function (view) {
            $("#divProviders").html(view);
        });
    }

</script>



