@model ICollection<CerberusMultiBranch.Models.Entities.Operative.ShoppingCart>


<div id="ModalCart" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content panel panel-primary panel-group">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-uppercase">
                    <span class="fa fa-shopping-cart" style="float:left">
                    </span>
                    &nbsp;<a id="ModalCartHeader"></a>
                </h4>
            </div>
            <div class="modal-body panel-body panel-group">
                <div id="divCartDetails" class="row">
                    @Html.Partial("_CartDetails", Model)
                </div>
            </div>



            <div class="modal-footer">
                <div class="col-md-3">
                    <select class="form-control" style="font-family: 'FontAwesome', 'Second Font name'" id="CartSending">
                        <option value="0"><text class="fa fa-building"> &#xf0f7; Recoge en sucursal</text></option>
                        <option value="1"><text class="fa fa-truck">&#xf0d1; Envío a domicilio</text></option>
                    </select>
                </div>

                <button id="btnShowClients" class="btn btn-success" type="button">
                    <span class="fa fa-user-plus"></span>
                    Cargo a cliente
                </button>
                <button class="btn btn-primary" type="button" id="btnCompleate" onclick="CompleateSale()">
                    <span class="fa fa-upload"></span>
                    Terminar venta
                </button>
                <button class="btn btn-warning" type="button" id="btnBudget" onclick="CreateBudget()">
                    <span class="fa fa-print"></span>
                    Generar Cotización
                </button>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        $("#btnShowClients").click(function ()
        {
            $("#ModalCart").off("hidden.bs.modal").on("hidden.bs.modal", function ()
            {
                $("#ModalQuickClient").modal('show');
            });

            $("#ModalCart").modal('hide');
        });

        $("#lblTotalAmount").val('@Model.Sum(s=> s.TaxedAmount)');
    });

    function CompleateSale()
    {
        var param =
        {
            sending: $("#CartSending").val()
        };
        
        ExecuteAjax('@Url.Action("CompleateSale", "Sales")', param, function (response)
        {
            $("#ModalCart").modal("hide");
            CheckCart();
            if (response.Result == "OK")
                ShowMessage("Venta concluida", response.Message, 'success');
            else
                ShowMessage(response.Result, response.Message, 'warning');
        });
    }

    function CreateBudget()
    {
        $("#ModalCart").off("hidden.bs.modal").on("hidden.bs.modal", function ()
        {
            ShowLoading();
            ExecuteAjax('@Url.Action("CreateBudget", "Sales")', {}, function (response)
            {
                HideLoading();
                CheckCart();

                if (!$.isPlainObject(response))
                    $("#divPrintBudget").html(response);
                else
                    ShowMessage(response.Result, response.Message, 'warning');
            });
        }).modal("hide");

       
    }

</script>

