<div class="row">

    <div class="col-md-12">
        @Html.Label("Tipo de Cliente", htmlAttributes: new { @class = "control-label small" })
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
            <div id="divClientType" class="form-control input-sm"></div>
        </div>
    </div>

    <div class="col-md-12">
        @Html.Label("Límite de crédito", htmlAttributes: new { @class = "control-label small" })
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <div id="divCreditLimit" class="form-control input-sm"></div>
        </div>
    </div>
    <div class="col-md-12">
        @Html.Label("Crédito Disponible", htmlAttributes: new { @class = "control-label small" })
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <div id="divCreditAvailable" class="form-control input-sm"></div>
        </div>
    </div>

    <div class="col-md-12">
        @Html.Label("Días de crédito", htmlAttributes: new { @class = "control-label small" })
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <div id="divCreditDays" class="form-control input-sm"></div>
        </div>
    </div>

</div>