@model SearchPersonViewModel<EmployeeViewModel>

@using CerberusMultiBranch.Models.ViewModels.Catalog

@{
    ViewBag.Title = "Catálogo de Empleados";
    ViewBag.Class = "fa fa-address-card";
}


<hr />

<div class="panel panel-danger">
    <div class="panel-body">
        <div class="row">
            <div id="tbButtons" class="col-md-6"></div>

            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre del empleado" })

                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="btnSearch" title="Buscar empleados">
                            <span class="glyphicon glyphicon-search"></span>
                            Buscar
                        </button>
                        <button type="button" class="btn btn-success" id="btnCreate" title="Agregar nuevo empleado">
                            <span class="glyphicon  glyphicon-file"></span>
                            Agregar
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divEmployees" class="panel-body dtContainer">
        @Html.Partial("_List", Model.Persons)
    </div>
</div>

<script>
    $(document).ready(function ()
    {

        $("#btnCreate").click(function ()
        {
            ShowCatalogModal(SearchById, null, 'Employee', 0);
        });

        $("#btnSearch").click(function ()
        {
            ShowLoading('static');
            var data = {
                name: $("#txtName").val()
            };

            ExecuteAjax('@Url.Action("Search")', data, function (response)
            {
                HideLoading(function ()
                {
                    $("#divEmployees").html(response);
                });
            });
        });
    });

    function SearchById(id)
    {
        ExecuteAjax('@Url.Action("Search")', { id: id }, function (view)
        {
            $("#divEmployees").html(view);
        });
    }

    $(document).keydown(function (e) {
        if (e.which == 13 || (e.altKey && e.which == 66)) {
            $("#btnSearch").click();
        }

        if (e.altKey && e.keyCode == 76) {
            $("#btnClear").click();
        }
        if (e.altKey && e.keyCode == 78) {
            $("#btnCreate").click();
        }
    });
</script>
