
<a class="btn btn-danger" onclick="LoadBranches()" style="color:whitesmoke !important;">
    <span class="fa fa-building" style="float:left"></span>
    &nbsp;
    <span id="lblBrachSelector"></span>
</a>
