




<div id="divModalBranchSelector" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger ">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Selecciona una sucursal para empezar</h4>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <select id="ddBranchSelector" class="col-md-10 form-control"></select>
                    <span class="input-group-btn">
                        <button id="btnBranchSelector" type="button" class="btn btn-danger">
                            Ir <span class="fa fa-angle-double-right"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        GetBranchSession();

        $("#btnBranchSelector").off('click').click(function ()
        {
            BeginBranchSession();
        });
    });

    function LoadBranches()
    {
        $("#ddBranchSelector").empty();

         ExecuteAjax('@Url.Action("GetAvailableBranches", "Json")', {}, function (response)
         {
            $("#ddBranchSelector").empty();

            $.each(response.Extra, function (i, item)
            {
                var option = "<option value='" + item.BranchId + "'>" + item.Name + "</option>";

                $("#ddBranchSelector").append(option);
            });

            if (response.Extra.length > 1)
            {
                $("#divModalBranchSelector").modal({ backdrop: 'static', keyboard: false });
            }
            else
                BeginBranchSession();
        });
    }

    function GetBranchSession()
    {
        ExecuteAjax('@Url.Action("GetBranchSession", "Json")', {}, function (response)
        {

            if (response.Extra.Id == 0)
            {
                LoadBranches();
            }
            else
            {
                $("#lblBrachSelector").text(response.Extra.Name);
            }
        });
    }

    function BeginBranchSession()
    {
        var data = { branchId: $("#ddBranchSelector").val(), name: $("#ddBranchSelector option:selected").text() }


        $("#divModalBranchSelector").off("hidden.bs.modal").on("hidden.bs.modal", function (e)
        {
            ShowLoading('static');

            ExecuteAjax('@Url.Action("BeginBranchSession", "Json")', data, function (response)
            {
                if (response.Extra)
                {
                    $("#lblBrachSelector").text($("#ddBranchSelector option:selected").text());
                    window.location = window.location;// '@Url.Action("Index","Products")';
                }
            });
        });

        $("#divModalBranchSelector").modal('hide');
    }
</script>




