

<a onclick="OpenCart()" class="btn btn-danger" style="color:whitesmoke !important;">
    <span class="fa fa-shopping-cart" style="float:left">
    </span>
    &nbsp;Carrito
    <span id="spShopingCart" class="badge bg-info">
    </span>

</a>



<script>
    $(document).ready()
    {
        CheckCart();
    }

    function CheckCart()
    {
        ExecuteAjax('@Url.Action("CheckCart","Sales")', {}, function (response)
        {
            $("#spShopingCart").text(response.Extra);
        });
    }

    function OpenCart()
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("OpenCart", "Sales")', {}, function (response)
        {
            HideLoading(function ()
            {
                ShowModal(response, 'static', 'lg');
            });
        });
    }

    function SetValues()
    {
        var cPrice = parseFloat($("#CPrice").val());
        var sPrice = parseFloat($("#SPrice").val());
        var dPrice = parseFloat($("#DPrice").val());
        var wPrice = parseFloat($("#WPrice").val());

        $("#txtPriceSelected").val(cPrice);

        $('#txtPriceSelector').bootstrapSlider({
            value: cPrice,
            ticks: [wPrice, dPrice, sPrice],
            ticks_labels: [GetCurrency(wPrice), GetCurrency(dPrice), GetCurrency(sPrice)],

            ticks_snap_bounds: 1
        });


        $("#txtPriceSelector").on("slide", function (slideEvt) {
            $("#txtPriceSelected").val(slideEvt.value);
        });

        $("#txtPriceSelector").on("change", function (response) {
            $("#txtPriceSelected").val(response.value.newValue);
        });
    }

</script>
