<div id="ChildModal" class="modal fade">
    <div id="ChildModalDialog" class="modal-dialog  ui-widget-content">
        <div id="ChildModalContent" class="modal-body">
          
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#ChildModal").draggable();
    });
</script>
