@{ 
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="wrapper">
    @Html.Partial("_SideBar")
  
        <div id="content" class="container small">
            @RenderBody()
        </div>
   
</div>
@RenderSection("scripts", required: false)


