@{ 
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="wrapper">
    @Html.Partial("_SideBar")

    <div id="divModalCart">
    </div>
   
    @Html.Partial("_QuickClient")

    
        <div id="content" class="container">
            @RenderBody()
        </div>
   
</div>
@RenderSection("scripts", required: false)


