<div id="ModalMessage" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="MessageContent" class="modal-content panel">
            <div class="modal-header panel-heading">
                <h4 id="MessageHeader" class="modal-title"></h4>
            </div>
            <div class="panel-body modal-body">
                <div class="col-md-2 col-xs-4 col-sm-4">
                    <img id="MessageImage" src="~/Images/question.png" class="img-responsive" />
                </div>
                <div class="col-md-10 col-xs-8 col-sm-8">
                    <h4 id="MessageBody"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group" id="MessageGroup">
                    <button type="button" class="btn btn-primary" id="MessageConfirm">
                        Si
                        <span class="fa fa-check"></span>
                    </button>
                    <button type="button" class="btn btn-danger" id="MessageCancel">
                        No
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" id="MessageOk">
                    Ok
                    <span class="fa fa-check"></span>
                </button>
            </div>
        </div>
    </div>
</div>

