
<div id="ModalQuickProvider" class="modal" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content panel panel-danger">
            <div class="modal-header panel-heading">
                <h4 class="modal-title">Búsqueda rápida de proveedores</h4>
            </div>
            <div class="panel panel-danger">
                <div class="panel-body row">
                    <div class="col-md-8">
                        @Html.Label("Nombre Proveedor / Clave", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                            @Html.TextBox("FProviderName", "", htmlAttributes: new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button id="btnQuickSearchProvider" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button id="btnAddProvider" type="button" class="btn btn-warning" onclick="window.open('@Url.Action("Create","Providers")','blank')">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-body row" id="divProviderList">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function ()
    {
        $("#btnQuickSearchProvider").click(function () { QuickSearchProvider(); });
    });

    function QuickSearchProvider()
    {
        HalfProgress();
        var filter = {  name: $("#FProviderName").val() }

        ExecuteAjax('@Url.Action("QuickSearch", "Providers")', filter, function (view)
        {
            console.log(view);
            $("#divProviderList").html(view);
        });
    }

</script>

