
@model IEnumerable<ProductViewModel>

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.ViewModels.Purchasing
@using CerberusMultiBranch.Models.ViewModels.Catalog

@*BÚSQUEDA DE PRODUCTOS SOBRE ORDEN DE COMPRA*@

<div class="panel panel-primary">

    <div class="panel-heading">
        <button type="button" class="close" onclick="CloseSearch()">
            <span class="fa fa-times"></span>
        </button>
        <h4 class="panel-title">
            <span class="fa fa-cubes"></span> Busqueda de productos
        </h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBox("FProductName", "", htmlAttributes: new { @class = "form-control", placeholder = "Descripción o códidgo" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="SearchProduct()">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                            <button type="button" class="btn btn-success" onclick="CreateProduct()">
                                <span class="glyphicon  glyphicon-file"></span>
                                Nuevo
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="divProductList" class="panel-body table-responsive">
                @Html.Partial("_SearchProductForOrderList", Model)
            </div>
        </div>
      
    </div>
</div>
