@using Microsoft.AspNet.Identity


<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header" style="text-align:center">
        <div class="btn-group-vertical  bgSidebar">
            <div class="col-md-8 col-md-offset-2">
                <img src="@Url.Action("GetPicture", "Json")" class="img-responsive img-circle" style="max-height:100px"
                     onmouseover="SetPointer(this)" title="Cambiar foto de perfil"
                     onclick="ShowLoading(); window.location = '@Url.Action("AddProfilePicture", "Manage")'" />
            </div>
            <div class="btn btn-file btn-xs btn-danger col-xs-12" onmouseover="SetPointer(this)"
                 onclick="ShowLoading(); window.location = '@Url.Action("ChangePassword", "Manage")'">
                @User.Identity.GetUserName()
            </div>
        </div>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/Products/" onclick="ShowLoading()">
                &nbsp;Productos<span class="fa fa-dropbox" style="float:left" />
            </a>
        </li>
        @if (User.IsInRole("Cajero") || User.IsInRole("Supervisor"))
        {
            <li><a href="/CashRegister/" onclick="ShowLoading()">&nbsp;Caja<span class="fa fa-laptop" style="float:left" /></a></li>
        }
        <li>
            <a href="#catalogsSm" data-toggle="collapse" aria-expanded="false">&nbsp;Catálogos<span class="glyphicon glyphicon-book" style="float:left" /></a>
            <ul class="collapse list-unstyled" id="catalogsSm">
                <li><a href="/Clients/" onclick="ShowLoading()">&nbsp;Clientes<span class="fa fa-address-book" style="float:left" /></a></li>

                @if (User.IsInRole("Supervisor") || User.IsInRole("Capturista"))
                {
                    <li><a href="/Providers/" onclick="ShowLoading()">&nbsp;Proveedores<span class="fa fa-address-book-o" style="float:left" /></a></li>
                    <li><a href="/Employees/" onclick="ShowLoading()">&nbsp;Empleados<span class="fa fa-address-card" style="float:left" /></a></li>

                    if (User.IsInRole("Capturista"))
                    {
                        <li><a href="/Configuration/SystemCategory" onclick="ShowLoading()">&nbsp;Sistemas y Categorías<span class="fa fa-list-alt" style="float:left" /></a></li>
                        <li><a href="/CarMakes/" onclick="ShowLoading()">&nbsp;Marcas<span class="glyphicon glyphicon-registration-mark" style="float:left" /></a></li>
                        <li><a href="/CarModels/" onclick="ShowLoading()">&nbsp;Modelos<span class="fa fa-car" style="float:left" /></a></li>
                    }
                }
            </ul>
        </li>

        @if (User.IsInRole("Cajero") || User.IsInRole("Supervisor"))
            {
            <li><a href="/Sales/DailyBill" onclick="ShowLoading()">&nbsp;Factura del día<span class="fa fa-file-excel-o" style="float:left" /></a></li>
        }

        @if (User.IsInRole("Vendedor") || User.IsInRole("Supervisor"))
        {
            <li>
                <a href="#HistorySubMenu" data-toggle="collapse" aria-expanded="false">
                    &nbsp;Historicos<span class="fa fa-history" style="float:left" />
                </a>

                <ul class="collapse list-unstyled" id="HistorySubMenu">
                    <li>
                        <a href="/Sales/History" onclick="ShowLoading()">
                            &nbsp;Ventas<span class="fa fa-shopping-bag" style="float:left" />
                        </a>
                    </li>
                    <li>
                        <a href="/Sales/Budget" onclick="ShowLoading()">
                            &nbsp;Cotizaciones<span class="fa fa-dollar" style="float:left" />
                        </a>
                    </li>
                    <li>
                        <a href="/Products/StockMovement" onclick="ShowLoading()">
                            &nbsp;Movimientos<span class="fa fa-cubes" style="float:left" />
                        </a>
                    </li>
                    <li>
                        <a href="/CashRegister/History" onclick="ShowLoading()">
                            &nbsp;Historial Caja<span class="fa fa-hourglass-o" style="float:left" />
                        </a>
                    </li>
                </ul>
            </li>
        }




        @if (User.IsInRole("Capturista") || User.IsInRole("Supervisor"))
        {
            <li><a href="/Purchases/History" onclick="ShowLoading()">&nbsp;Compras<span class="fa fa-shopping-basket" style="float:left" /></a></li>
        }


        @if (User.IsInRole("Administrador"))
        {
            <li>
                <!-- Link with dropdown items -->
                <a href="#configurationSubMenu" data-toggle="collapse" aria-expanded="false">
                    &nbsp;Configuraciones<span class="fa fa-cogs" style="float:left" />
                </a>
                <ul class="collapse list-unstyled" id="configurationSubMenu">
                    <li><a href="/Configuration/" onclick="ShowLoading()">&nbsp;Conf. de aplicación<span class="fa fa-cog" style="float:left" /></a></li>

                    <li><a href="/Account/UserList" onclick="ShowLoading()">&nbsp;Cuentas de usuario<span class="fa fa-users" style="float:left" /></a></li>
                </ul>
            </li>
        }

        <li><a href="/Home/About" onclick="ShowLoading()">&nbsp;Acerca de<span class="glyphicon glyphicon-question-sign" style="float:left" /></a></li>
    </ul>
</nav>
