

<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header" style="text-align:center">
        <div class="btn-group-vertical  bgSidebar">
            <div class="col-md-8 col-md-offset-2">
                <img src="@Url.Action("GetPicture", "Json")" class="img-responsive img-circle" />
            </div>
            @Html.Partial("_BranchSelector")
        </div>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#catalogsSm" data-toggle="collapse" aria-expanded="false">&nbsp;Catálogos<span class="glyphicon glyphicon-book" style="float:left" /></a>
            <ul class="collapse list-unstyled" id="catalogsSm">
                <li><a href="/Clients/" onclick="ShowLoading()">&nbsp;Clientes<span class="fa fa-address-book" style="float:left" /></a></li>
                <li><a href="/Products/" onclick="ShowLoading()">&nbsp;Productos<span class="fa fa-book" style="float:left" /></a></li>

                @if (User.IsInRole("Supervisor") || User.IsInRole("Capturista"))
                {
                    <li><a href="/Providers/" onclick="ShowLoading()">&nbsp;Proveedores<span class="fa fa-address-book-o" style="float:left" /></a></li>
                    <li><a href="/Employees/" onclick="ShowLoading()">&nbsp;Empleados<span class="fa fa-address-card" style="float:left" /></a></li>
                }
            </ul>
        </li>



        @if (User.IsInRole("Cajero") || User.IsInRole("Supervisor"))
        {
            <li><a href="/CashRegister/" onclick="ShowLoading()">&nbsp;Caja<span class="fa fa-laptop" style="float:left" /></a></li>
            if (User.IsInRole("Cajero"))
            {
                <li><a href="/CashRegister/MyHistory" onclick="ShowLoading()">&nbsp;Mi Historial de caja<span class="fa fa-history" style="float:left" /></a></li>
                <li><a href="/CashRegister/PaymentAndNote" onclick="ShowLoading()">&nbsp;Pagos y notas<span class="badge bg-info"></span><span class="fa fa-credit-card-alt" style="float:left" /></a></li>
            }
        }

        @if (User.IsInRole("Vendedor"))
        {
            <li>
                @Html.Partial("_ShopingCartOption")
            </li>
            <li><a href="/Sales/MySales" onclick="ShowLoading()">&nbsp;Mis ventas<span class="fa fa-shopping-bag" style="float:left" /></a></li>
        }

        @if (User.IsInRole("Capturista"))
        {
            <li><a href="/Purchases/Create" onclick="ShowLoading()">&nbsp;Registrar Compra<span class="fa fa-cart-plus" style="float:left" /></a></li>
            <li><a href="/Purchases/MyPurchases" onclick="ShowLoading()">&nbsp;Mis Compras<span class="fa fa-shopping-basket" style="float:left" /></a></li>
        }

        @if (User.IsInRole("Supervisor"))
        {
            <li>
                <a href="#reports" data-toggle="collapse" aria-expanded="false">
                    &nbsp;Reportes<span class="glyphicon glyphicon-duplicate" style="float:left" />
                </a>
                <ul class="collapse list-unstyled" id="reports">
                    <li><a href="/Purchases/History" onclick="ShowLoading()">&nbsp;Historial compras<span class="fa fa-file-text" style="float:left" /></a></li>
                    <li><a href="/Sales/History" onclick="ShowLoading()">&nbsp;Historial ventas<span class="fa fa-file-text-o" style="float:left" /></a></li>
                    <li><a href="/CashRegister/History" onclick="ShowLoading()">&nbsp;Historial Caja<span class="fa fa-file-text-o" style="float:left" /></a></li>
                </ul>
            </li>
        }

        @if (User.IsInRole("Administrador"))
        {
            <li>
                <!-- Link with dropdown items -->
                <a href="#configurationSubMenu" data-toggle="collapse" aria-expanded="false">
                    &nbsp;Configuraciones<span class="fa fa-cogs" style="float:left" />
                </a>
                <ul class="collapse list-unstyled" id="configurationSubMenu">
                    <li><a href="/Account/UserList" onclick="ShowLoading()">&nbsp;Cuentas de usuario<span class="fa fa-users" style="float:left" /></a></li>
                    <li><a href="/Configuration/" onclick="ShowLoading()">&nbsp;Conf. de aplicación<span class="fa fa-cog" style="float:left" /></a></li>
                    <li><a href="/CarMakes/" onclick="ShowLoading()">&nbsp;Marcas<span class="glyphicon glyphicon-registration-mark" style="float:left" /></a></li>
                    <li><a href="/CarModels/" onclick="ShowLoading()">&nbsp;Modelos<span class="fa fa-car" style="float:left" /></a></li>
                </ul>
            </li>
        }

        <li><a href="/Home/About" onclick="ShowLoading()">&nbsp;Acerca de<span class="glyphicon glyphicon-question-sign" style="float:left" /></a></li>
    </ul>
</nav>
