@using Microsoft.AspNet.Identity


<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header bgSidebar" style="max-height:100px">
        <div style="width:50%; margin:auto">
            <div class="imageSide">
                <img src="@Url.Action("GetPicture", "Json")" class="img img-responsive img-rounded" onmouseover="SetPointer(this)" title="Cambiar foto de perfil" style="width:100%"
                     onclick="ShowLoading(); window.location = '@Url.Action("AddProfilePicture", "Manage")'" />
            </div>
        </div>
    </div>
    <label class="btn btn-danger btn-xs col-md-12 col-xs-12 col-sm-12" onmouseover="SetPointer(this)"
           onclick="ShowLoading(); window.location = '@Url.Action("ChangePassword", "Manage")'">
        @User.Identity.GetUserName()
    </label>
    <div class="">
        <ul class="list-unstyled components col-md-12 col-sm-12 col-xs-12" >
            <li>
                <a href="/Products/" onclick="ShowLoading()">
                    &nbsp;Productos<span class="fa fa-dropbox" style="float:left" />
                </a>
            </li>

            @if (User.IsInRole("Cajero") || User.IsInRole("Supervisor"))
            {
                <li><a href="/CashRegister/" onclick="ShowLoading()">&nbsp;Caja<span class="fa fa-laptop" style="float:left" /></a></li>
            }


            <li>
                <a href="#catalogsSm" data-toggle="collapse" aria-expanded="false">&nbsp;Catálogos<span class="glyphicon glyphicon-book" style="float:left" /></a>
                <ul class="collapse list-unstyled" id="catalogsSm">
                    <li><a href="/Catalog/Clients/" onclick="ShowLoading()">&nbsp;Clientes<span class="fa fa-users" style="float:left" /></a></li>

                    @if (User.IsInRole("Supervisor") || User.IsInRole("Capturista"))
                    {
                        <li><a href="/Catalog/Suppliers/" onclick="ShowLoading()">&nbsp;Proveedores<span class="fa fa-handshake-o" style="float:left" /></a></li>
                        <li><a href="/Catalog/Employees/" onclick="ShowLoading()">&nbsp;Empleados<span class="fa fa-black-tie" style="float:left" /></a></li>

                        if (User.IsInRole("Administrador"))
                        {
                            <li><a href="/Catalog/Clasifications" onclick="ShowLoading()">&nbsp;Clasificaciones<span class="fa fa-folder-open" style="float:left" /></a></li>
                            <li><a href="/Catalog/MakesAndModels" onclick="ShowLoading()">&nbsp;Armadoras y Modelos<span class="fa fa-car" style="float:left" /></a></li>
                        }
                    }
                </ul>
            </li>


            @if (User.IsInRole("Vendedor") || User.IsInRole("Supervisor") || User.IsInRole("Cajero"))
            {
                <li>
                    <a href="#salesSm" data-toggle="collapse" aria-expanded="false">&nbsp;Ventas<span class="fa fa-shopping-bag" style="float:left" /></a>
                    <ul class="collapse list-unstyled" id="salesSm">

                        @if (User.IsInRole("Supervisor"))
                        {
                            <li><a href="/Sales/Report/" onclick="ShowLoading()">&nbsp;Reporte de ventas<span class="fa fa-file-text-o" style="float:left" /></a></li>
                        }

                        @if (User.IsInRole("Cajero") || User.IsInRole("Supervisor"))
                        {
                            <li><a href="/Sales/DailyBill" onclick="ShowLoading()">&nbsp;Factura del día<span class="fa fa-file-excel-o" style="float:left" /></a></li>
                        }

                        <li>
                            <a href="/Sales/Budget" onclick="ShowLoading()">&nbsp;Cotizaciones<span class="fa fa-dollar" style="float:left" /></a>
                        </li>
                    </ul>
                </li>
            }

            @if (User.IsInRole("Vendedor") || User.IsInRole("Supervisor"))
            {
                <li>
                    <a href="#HistorySubMenu" data-toggle="collapse" aria-expanded="false">
                        &nbsp;Historicos<span class="fa fa-history" style="float:left" />
                    </a>

                    <ul class="collapse list-unstyled" id="HistorySubMenu">
                        <li>
                            <a href="/Products/StockMovement" onclick="ShowLoading()">
                                &nbsp;Movimientos<span class="fa fa-cubes" style="float:left" />
                            </a>
                        </li>
                        <li>
                            <a href="/CashRegister/History" onclick="ShowLoading()">
                                &nbsp;Historial Caja<span class="fa fa-hourglass-o" style="float:left" />
                            </a>
                        </li>
                    </ul>
                </li>
            }

            <li>
                <a href="#PurchasingSubMenu" data-toggle="collapse" aria-expanded="false">
                    &nbsp;Compras<span class="fa fa-shopping-cart" style="float:left" />
                </a> 

                <ul class="collapse list-unstyled" id="PurchasingSubMenu">
                    <li>
                        <a href="/Purchasing/PurchaseEstimation" onclick="ShowLoading()">
                            &nbsp;Elaborar pedido<span class="fa fa-clipboard" style="float:left" />
                        </a>
                    </li>
                    <li>
                        <a href="/Purchasing/PurchaseOrders" onclick="ShowLoading()">
                            &nbsp;Ordenes de compra<span class="fa fa-files-o" style="float:left" />
                        </a>
                    </li>

                    <li>
                        <a href="/Purchases/Report" onclick="ShowLoading()">
                            &nbsp;Facturas de compra<span class="fa fa-file-pdf-o" style="float:left" />
                        </a>
                    </li>
                </ul>
            </li>


            
            @if (User.IsInRole("Administrador"))
            {
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#SecuritySubMenu" data-toggle="collapse" aria-expanded="false">
                        &nbsp;Seguridad<span class="fa fa-shield" style="float:left" />
                    </a>
                    <ul class="collapse list-unstyled" id="SecuritySubMenu">
                        @*<li><a href="/Configuration/" onclick="ShowLoading()">&nbsp;Conf. de aplicación<span class="fa fa-cog" style="float:left" /></a></li>*@

                        <li><a href="/Account/UserList" onclick="ShowLoading()">&nbsp;Cuentas de usuario<span class="fa fa-users" style="float:left" /></a></li>
                    </ul>
                </li>
            }

            <li><a href="/Home/About" onclick="ShowLoading()">&nbsp;Acerca de<span class="glyphicon glyphicon-question-sign" style="float:left" /></a></li>
        </ul>
    </div>
</nav>
