@model IEnumerable<PurchaseOrder>

@using CerberusMultiBranch.Models.Entities.Purchasing
@using CerberusMultiBranch.Support

@{
    ViewBag.Title = "Ordenes de Compra";
    ViewBag.Class = "fa fa-files-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="panel panel-default">
    <div class="panel-body">
       
        <div class="col-md-6 col-xs-12 col-sm-12 form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <a id="aPopOver" class="btn btn-default" popover-content="@Html.Partial("_PurchaseOrderFilter").ToHtmlString()" 
                       tooltip-title="Opciones avanzadas">
                        <span class="fa fa-ellipsis-v"></span>
                    </a>
                </span>
              
                @Html.TextBox("txtMainFilter", "", htmlAttributes: new { @class = "form-control", placeholder = "Proveedor o folio de orden" })

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-toggle="tooltip"  
                            title="Buscar Ordenes por proveedor o folio" onclick="SingleSearch()">
                        <span class="glyphicon glyphicon-search"></span>
                        Buscar
                    </button>
                </span>
            </div>
        </div>
        <div id="divAlerts" class="col-md-12"></div>

        <div class="col-md-6 filter">
        </div>
    </div>
    <div id="tbButtons" class="input-group-btn hidden"></div>
</div>

<div class="panel panel-default">
    <div id="divPurchaseOrderList" class="panel-body dtContainer">
        @Html.Partial("_PurchaseOrderList", Model)
    </div>
</div>

<script>
    var adFilters = { stats : []}

    $(document).ready(function ()
    {
        $('[data-toggle="tooltip"]').tooltip();
        SetPopOver();
    });

    function SetInputs()
    {
      
        //para los checkbox
        $.each(adFilters.status, function (key, value)
        {
            $("#formCheckBox").find("input[id='" + value + "']").prop('checked', true);
        });

        //para el resto de los controles
        $.each(adFilters, function (key, value)
        {
            var crl = $("#"+key);

             crl.val(value);
        });
    }

    function SetPopOver()
    {
        $("#aPopOver").popover({
            html: true,
            container: '.filter',
            trigger: 'click',
            placement: 'bottom auto',
            content: $("#aPopOver").attr("popover-content"),
            title: '<span class="fa fa-ellipsis-v"></span> Opciones avanzadas',
        }).off('shown.bs.popover').on('shown.bs.popover', SetInputs);

        $("#aPopOver").tooltip({
            placement: 'bottom',
            title: $("#aPopOver").attr("tooltip-title")
        })
    }


    function Export()
    {
        $(".buttons-excel").click();

        $("#aPopOver").click();
    }

    function SearchPurchaseOrders(filters)
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("SearchPurchaseOrders", "Purchasing")', filters, function (response)
        {
            HideLoading(function ()
            {
                $("#divPurchaseOrderList").html(response);
            });
        });
    }

    function SingleSearch()
    {
        var filters = { provider: $("#txtMainFilter").val() }

        SearchPurchaseOrders(filters);
    }

    function AdvanceSearch()
    {
        adFilters = {
            branchId: $("#branchId").val(),
            folio: $("#folio").val(),
            status: [],
            provider: $("#txtMainFilter").val(),
            beginDate: $("#beginDate").val(),
            endDate: $("#endDate").val()
        };

      
        $("#formCheckBox").find(':input').each(function (index, cb)
        {
            if ($(cb).prop('checked'))
            {
                adFilters.status.push($(cb).val());
            }
        });

    

        $("#aPopOver").click();

        SearchPurchaseOrders(adFilters);
    }
</script>