
@model PurchaseOrder
@using CerberusMultiBranch.Models.Entities.Purchasing
@using CerberusMultiBranch.Models

@{
    ViewBag.Title = "Orden de compra";

    ViewBag.Class = "fa fa-shopping-cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/printThis.js"></script>


<div id="divPurchaseOrder">
    @Html.Partial("_PurchaseOrder", Model)
</div>

<div class="hidden">
    <div  id="divPrintOrder"></div>
</div>
