
@model IEnumerable<ProductViewModel>

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.ViewModels.Catalog

<div class="panel panel-primary">

    <div class="panel-heading">
        <button type="button" class="close" onclick="CloseQuickSearch()">
            <span class="fa fa-times"></span>
        </button>
        <h4 class="panel-title">
            <span class="fa fa-cubes"></span> Busqueda de productos
        </h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBox("FProductName", "", htmlAttributes: new { @class = "form-control", placeholder = "Descripción o códidgo" })
                        <span class="input-group-btn">
                            <button  type="button" class="btn btn-primary" onclick="QuickSearchProduct()">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-default">
            <div class="panel panel-default">
                <div id="divProductQuickSearchList" class="panel-body">
                    @Html.Partial("_ProductQuickSearchList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  
    function QuickSearchProduct()
    {
        
        ShowModLoading();

        ExecuteAjax('@Url.Action("QuickSearch", "Products")', { filter: $("#FProductName").val(), providerId: $("#ProviderId").val() }, function (view) 
        {
            HideModLoading(function ()
            {
                $("#divProductQuickSearchList").html(view);
            });
        });
    }

    var onCloseQuickSearch;

    function CloseQuickSearch()
    {
        HideModal(onCloseQuickSearch, true);
    }

</script>
