@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>
        
        <span class="fa fa-laptop" style="float:left"></span>
        &nbsp;&nbsp;
        Sims v 1.0
    </h1>
    <h3>
        sales and inventory magnament system
    </h3>
    @Html.Partial("_QuickSearch")
    <hr />
    <p class="lead">Auto Bien Refaccionaría! has iniciado sesíon en el sistema, selecciona una opción del menú lateral para comenzar</p>


    <br />
    <h4>
        <span class="fa fa-copyright" style="float:left"></span>
        &nbsp;&nbsp; by Arkham.Net Sofware Development
    </h4>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>
            <span class="fa fa-money" style="float:left"></span>
            &nbsp;&nbsp;Tipos de cambio
        </h2>
        <p>
            Enlace externo a la página del SAT
        </p>
        <p>
            <a class="btn btn-danger" href="http://www.sat.gob.mx/informacion_fiscal/tablas_indicadores/paginas/tipo_cambio.aspx" target="_blank">
                <span class="fa fa-eye" style="float:left"></span>
                &nbsp;&nbsp;$$$$ &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <span class="fa fa-file-text-o" style="float:left"></span>
            &nbsp;&nbsp;Facturación en Línea
        </h2>
        <p>Facturama, Herramienta de facturación en línea</p>
        <p>
            <a class="btn btn-success" href="https://facturama.mx/facturacion-electronica?gclid=CPT3i_mAltYCFUW2wAodFT8GMg" target="_blank">
                <span class="fa fa-eye" style="float:left"></span>
                &nbsp;&nbsp;Facturama &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <span class="fa fa-video-camera" style="float:left"></span>
            &nbsp;&nbsp;CCTV
        </h2>
        <p>Enlace externo del monitoreo de sucursales</p>
        <p>
            <a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301867">
                <span class="fa fa-eye" style="float:left"></span>
                &nbsp;&nbsp;CCTV &raquo;
            </a>
        </p>
    </div>
</div>