

@Html.Hidden("CategoryId")

<h4>Categorías de producto</h4>

<div class="col-md-6">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("CategoryName", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" id="btnClearCategory">
                <span class="fa fa-refresh" />
            </button>
            <button class="btn btn-warning" id="btnCategory">
                <span class="glyphicon glyphicon-plus" id="spCategory" />
            </button>
        </span>
    </div>
    <label id="lblCategory" class="text-danger"/>
</div>

<br />
<div class="col-md-8">
    <div id="divCategories" ></div>
</div>


<script>
    $(document).ready(function ()
    {
        $("#btnClearCategory").hide();

        $("#btnClearCategory").click(function () { ClearCategory(); });

        $("#btnCategory").click(function ()
        {
            if ($("#CategoryName").val().length < 5)
            {
                $("#lblCategory").text("La categoría debe tener una longitud mayor a 5 caracteres");
            }
            else
            {
                $("#lblCategory").text("");
                ExecuteCategoryAjax('@Url.Action("SaveCategory", "Configuration")',
                    { CategoryId: $("#CategoryId").val(), Name: $("#CategoryName").val() });
            }

            
        });

        ExecuteCategoryAjax('@Url.Action("GetCategories", "Configuration")', null);
    });

    function ClearCategory()
    {
        $("#CategoryId").val("");
        $("#CategoryName").val("");
        $("#btnClearCategory").hide();

        $("#spCategory").attr("class", "glyphicon glyphicon-plus");
        $("#btnCategory").attr("class", "btn btn-warning");
    }

    function ExecuteCategoryAjax(url, data) {
        console.log(url);
        console.log(data);

        $.ajax({
            url: url,
            type: "POST",
            data: data,

            error: function (data)
            {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (view)
                {
                    $("#divCategories").html(view);
                    ClearCategory();
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }
</script>