@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.Category>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div id="tbButtonsCategories" class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="input-group">
                            @Html.TextBox("FilterCategory", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre o clave sat" })

                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearchCategory" onclick="SearchCategory()" title="Buscar catergorias">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Buscar
                                </button>
                                <button type="button" class="btn btn-success" id="btnCreateCategory" onclick="CreateNew()" title="Agregar nueva categoría SAT">
                                    <span class="glyphicon  glyphicon-file"></span>
                                    Agregar
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div id="divCategories" class="panel-body dtContainer">
                @Html.Partial("_CategoryList", Model)
            </div>
        </div>
    </div>


    <script>
        function CreateNew()
        {
            ShowLoading('static');

            ExecuteAjax('@Url.Action("EditCategory", "Configuration")', {}, function (response)
            {
                HideLoading(function () {
                    ShowModal(response, 'static');
                });
            });
        }

        function SearchCategory()
        {
            ShowLoading('static')

            ExecuteAjax('@Url.Action("SearchCategories","Configuration")', { filter: $("#FilterCategory").val() }, function (response) {
                HideLoading(function () {
                    $("#divCategories").html(response);
                });
            });
        }

    </script>
