
<div id="divCategoryEdition"></div>

<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-10">
            <div class="input-group ">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBox("FilterCategory", "", htmlAttributes: new { @class = "form-control", placeholder = "Descripción o clave SAT" })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearchCategory" onclick="SearchCategory()">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreateCategory" onclick="CreateNew()">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>ueva
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="divCategories">
        @Html.Partial("_CategoryList", new List<CerberusMultiBranch.Models.Entities.Config.Category>())
    </div>
</div>



<script>
    $(document).ready().keydown(function (e)
    {
        if ($("#liCategory").hasClass('active'))
        {
            if ($("#ModalCategory").hasClass('in'))
            {
                console.log("category tab no hace nada")
            }
            else
            {
                if (e.which == 13 || (e.altKey && e.which == 66))
                {
                    console.log("enter for search categories");
                    $("#btnSearchCategory").click();
                }

                if (e.altKey && e.keyCode == 78)
                {
                    $("#btnCreateCategory").click();
                }
                e.stopImmediatePropagation();
            }
        }
    });

    function CreateNew() {
        ExecuteAjax('@Url.Action("NewCategory", "Configuration")', {}, function (response) {
            $("#divCategoryEdition").html(response);
        });
    }

    function SearchCategory()
    {
        ShowLoading();

        ExecuteAjax('@Url.Action("SearchCategories","Configuration")',
            { filter: $("#FilterCategory").val() }, function (response) {
                if ($.isPlainObject(response))
                    ShowMessage(response.Result, response.Message, 'warning');
                else
                    $("#divCategories").html(response);

                HideLoading();
            });
    }

</script>
