
<div id="divSystemEdition"></div>

<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-10">
            <div class="input-group ">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                @Html.TextBox("FilterSystem", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre del sistema" })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearchSystem" onclick="SearchSystem()">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreateSystem" onclick="CreateSystem()">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="divSystems"></div>
</div>



<script>
    $(document).ready(function () {

    });

    function CreateSystem() {
        ExecuteAjax('@Url.Action("NewSystem", "Configuration")', {}, function (response) {
            $("#divSystemEdition").html(response);
        });
    }

    function SearchSystem() {
        ShowLoading();

        ExecuteAjax('@Url.Action("SearchSystems","Configuration")',
            { filter: $("#FilterSystem").val() }, function (response) {
                if ($.isPlainObject(response))
                    ShowMessage(response.Result, response.Message, 'warning');
                else
                    $("#divSystems").html(response);

                HideLoading();
            });
    }

    $(document).keydown(function (e) {
        if ($("#liSystem").hasClass('active'))
        {
            if ($("#ModalSystem").hasClass('in') || $("#ModalConfirmDelete").hasClass('in'))
            {
                return;
            }
            else
            {
                console.log("Click entes on system");

                if (e.which == 13 || (e.altKey && e.which == 66))
                {
                    console.log("enter for search categories");
                    $("#btnSearchSystem").click();
                }

                if (e.altKey && e.keyCode == 78) {
                    $("#btnCreateSystem").click();
                }

                e.stopImmediatePropagation();
            }
        }
    });


</script>
