@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.PartSystem>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div id="tbButtons" class="col-md-6"></div>

                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBox("FilterSystem", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre del sistema" })

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnSearchCategory" onclick="SearchSystem()" title="Buscar tipos de producto (sistemas)">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                            <button type="button" class="btn btn-success" id="btnCreateCategory" onclick="CreateSystem()" title="Agregar nueva tipo de producto (sistema)">
                                <span class="glyphicon  glyphicon-file"></span>
                                Agregar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div id="divSystems" class="panel-body dtContainer">
            @Html.Partial("_SystemList", Model)
        </div>
    </div>

</div>





<script>
    function CreateSystem()
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("EditSystem", "Configuration")', {}, function (response) {
            HideLoading(function () {
                ShowModal(response, 'static');
            });
        });
    }

    function SearchSystem()
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("SearchSystems","Configuration")', { filter: $("#FilterSystem").val() }, function (response) {
            HideLoading(function () {
                $("#divSystems").html(response);

            });
        });
    }

</script>
