@model IEnumerable<WithdrawalCause>

@using CerberusMultiBranch.Models.Entities.Operative

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div id="tbButtonsWithDrawal" class="col-md-6"></div>

                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBox("CauseName", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre de la causa" })

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"  onclick="SearchCauses()" title="Buscar causas de retiro">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </button>
                            <button type="button" class="btn btn-success" onclick="CreateCause()" title="Agregar nueva causa de retiro">
                                <span class="glyphicon  glyphicon-file"></span>
                                Agregar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="divCauses" class="panel-body dtContainer">
            @Html.Partial("_WithdrawalCauseList",Model)
        </div>
    </div>
</div>


<script>

    function CreateCause()
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("EditCause", "Configuration")', {}, function (response)
        {
            HideLoading(function ()
            {
                ShowModal(response, 'static');
            });
        });
    }

    function SearchCauses()
    {
        ShowLoading('static');

        ExecuteAjax('@Url.Action("SearchCauses", "Configuration")', { filter: $("#CauseName").val() }, function (response)
        {
            HideLoading(function ()
            {
                $("#divCauses").html(response);
            });
        });
    }

</script>