@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.Category>

@{
    ViewBag.Title = "Configuraciones";
}

<h3>
    <span class="fa fa-cogs" style="float:left"></span>
    &nbsp;&nbsp;Configuración del sistema
</h3>



<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#Branches">
                &nbsp;&nbsp;Sucursales<span class="fa fa-industry" style="float:left" />
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Categories">
                &nbsp;&nbsp;Categorias<span class="glyphicon glyphicon-list-alt" style="float:left" />
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Causes">
            &nbsp;&nbsp;Causas de retiro<span class="glyphicon glyphicon-list-alt" style="float:left" />
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Variables">
                &nbsp;&nbsp;Variables<span class="fa fa-cog" style="float:left" />
        </a>
    </li>
</ul>

<div class="tab-content">
    <div id="Branches" class="tab-pane fade in active">
        @Html.Partial("_Branches")
    </div>
    <div id="Categories" class="tab-pane fade">
        @Html.Partial("_Categories")
    </div>
    <div id="Causes" class="tab-pane fade">
        @Html.Partial("_WithdrawalCause")
    </div>

    <div id="Variables" class="tab-pane fade">
        @Html.Partial("_Variables")
    </div>
</div>



