
@{
    ViewBag.Title = "Sistemas y Categorias SAT";
    ViewBag.Class = "fa fa-list-ul";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

@Html.Partial("_ConfirmDelete");

<ul class="nav nav-tabs">
    <li id="liSystem" class="active">
        <a data-toggle="tab" href="#Systems">
            &nbsp;&nbsp;Sistemas<span class="fa fa-list-alt" style="float:left" />
        </a>
    </li>
    <li id="liCategory">
        <a data-toggle="tab" href="#Categories">
            &nbsp;&nbsp;Categorias<span class="fa fa-black-tie" style="float:left" />
        </a>
    </li>
</ul>


<div class="tab-content">
    <div id="Systems" class="tab-pane fade in active">
        @Html.Partial("_Systems")
    </div>
    <div id="Categories" class="tab-pane fade">
        @Html.Partial("_Categories")
    </div>
</div>

<script>
    function Delete()
    {
        $("#ModalConfirmDelete").modal("hide");

        if ($("#liSystem").hasClass('active'))
        {
            DeleteSystem();
        }

        if ($("#liCategory").hasClass('active'))
        {
            DeleteCategory();
        }
    }
</script>