body {
    padding-top: 50px;
    padding-bottom: 20px;
    -webkit-print-color-adjust: exact;
}

.BodyLogin
{
    background-color:#3D322F !important;
    background-image:url(Images/background.png);
     opacity: 0.9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/*****PANEL HEADING OVERRIDE*****/
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}


.row-bordered:after {
    content: "";
    display: block;
    border-top: 1px solid #ccc;
}


/********************************************************/
/*********************SIDE BAR***************************/
/********************************************************/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

    #sidebar.active {
        margin-left: -200px;
    }


a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute; 
    right: 2px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.imageSide {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

    .imageSide img {
        position: absolute;
    }

@media (max-width: 768px) 
{
    #sidebar 
    {
        margin-left: -200px;
    }

    .imageSide
    {
        width:100px;
        padding-bottom:60%;
        margin-left:30px;
    }
      
    #sidebar.active 
    {
        margin-left: 0;
    }
}

.dtContainer
{
    width:100%
}

@media (max-width : 1950px) 
{
    .dtContainer 
    {
        width: 1660px;
    }
}


@media (max-width : 1600px) 
{
    .dtContainer 
    {
        width: 1350px;
        
    }
}

@media (max-width : 1400px) 
{
    .dtContainer
    {
       width:1100px; 
    }
}

@media  screen and (max-width : 1200px) 
{
    .dtContainer 
    {
        width: 870px;
    }
}

@media (max-width : 979px) 
{
    .dtContainer 
    {
        width: 700px;
    }
      #sidebar 
    {
        margin-left: -200px;
    }

    #sidebar.active 
    {
        margin-left: 0;
    }
}

@media (max-width : 767px) 
{
     .dtContainer 
    {
        width: 600px;
        background-color:red
    }
}

@media (max-width : 480px) 
{
      .dtContainer 
    {
        width: 300px;
    }
}


/********************/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #424242;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 0px;
        background: #151515;
    }

    #sidebar ul.components {
        padding: 1px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 8px;
        font-size: 1.1em;
        display: block;        
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6E6E6E;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
    background: #6d7fcc;
}

.bgSidebar {
    background: #151515;
}


/*******PILLS******/

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}

.BkPrint {
    background-color: #c9302c !important;
    border-color: #c9302c !important;
    color: #FFFFFF !important;
}

.FontNote {
    font-size: 10px !important;
}

.FtPrint {
    background-color: #F5A9BC !important;
    border-color: #c9302c;
}

@media print {

    .Note table {
        font-size: 8pt !important;
        font-family: Tahoma;
    }

    .Ticket table {
        font-size: 10pt !important;
        font-family: Arial;
    }

    .BkPrint {
        color: #FFFFFF !important;
        -webkit-print-color-adjust: exact;
    }
}


.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}


/*PNOTIFY OVERLOAD*/
.alert-success {
    color: #ffffff;
    background-color: rgba(38, 185, 154, 0.88);
    border-color: rgba(38, 185, 154, 0.88);
}

.alert-info {
    color: #E9EDEF;
    background-color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88);
}

.alert-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88);
}

.alert-attention{
    color: #E9EDEF;
    background-color: rgba(179, 119, 0, 0.88);
    border-color: rgba(179, 119, 0, 0.88);
}

.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
}

.alert-dark {
    color: #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88);
    border-color: rgba(52, 73, 94, 0.88);
}

.ui-pnotify.dark .ui-pnotify-container {
    color: #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88);
    border-color: rgba(52, 73, 94, 0.88);
}

.custom-notifications {
    position: fixed;
    margin: 15px;
    right: 0;
    float: right;
    width: 400px;
    z-index: 4000;
    bottom: 0;
}

ul.notifications {
    float: right;
    display: block;
    margin-bottom: 7px;
    padding: 0;
    width: 100%;
}

.notifications li {
    float: right;
    margin: 3px;
    width: 36px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

    .notifications li:last-child {
        margin-left: 0;
    }

.notifications a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 8px;
}


/*******square image*******/
.image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

    .image img {
        position: absolute;
    }

    /*******DATATABLES ROW STYLES*****/

.bgDataTable-success {
    color: #ffffff !important;
    background-color: rgba(38, 185, 154, 0.88)  !important;
    border-color: rgba(38, 185, 154, 0.88)  !important;
}

.bgDataTable-info {
    color: #E9EDEF  !important;
    background-color: rgba(52, 152, 219, 0.88)  !important;
    border-color: rgba(52, 152, 219, 0.88)  !important;
}

.bgDataTable-attention{
    color: #E9EDEF  !important;
    background-color: rgba(179, 119, 0, 0.88)  !important;
    border-color: rgba(179, 119, 0, 0.88)  !important;
}

.bgDataTable-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88)  !important;
    border-color: rgba(243, 156, 18, 0.88);
}

.bgDataTable-danger{
    color: #E9EDEF  !important;
    background-color: rgba(231, 76, 60, 0.88)  !important;
    border-color: rgba(231, 76, 60, 0.88)  !important;
}

.bgDataTable-dark {
    color: #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88)  !important;
    border-color: rgba(52, 73, 94, 0.88)  !important;
}

.dbDataTable-default 
{
      color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}