body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/*****PANEL HEADING OVERRIDE*****/
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}


.row-bordered:after {
    content: "";
    display: block;
    border-top: 1px solid #ccc;
}
/*************TABLE ELEMENT CENTERED********************/
.table > tbody > tr > td {
    vertical-align: middle;
}

/***************DATA TABLES**********************/
table.TablePrimary {
    width: 100%;
    clear: both;
}

    table.TablePrimary thead th {
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-color: #337ab7;
    }

.dataTables_length {
    background-color: #337ab7;
    color: silver !important;
    width: 30%;
    float: left !important;
    height: 40px !important;
    padding-top: 8px;
    padding-left: 16px;
    display: none;
}


.dataTables_filter {
    background-color: #337ab7;
    width: 70%;
    float: right !important;
    height: 40px !important;
    padding-top: 8px;
    padding-right: 10px;
    color: silver !important;
    display: none;
}

.dataTables_info {
    padding: 9px 6px 6px 6px;
    float: left;
    background-color: #f5f5f5;
    width: 50%;
    height: 40px !important;
}

.dataTables_paginate {
    float: left;
    font-weight: 300 !important;
    background-color: #f5f5f5;
    width: 50%;
    height: 40px !important;
}

html[xmlns] .dataTables_wrapper {
    display: block;
}


.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.dataTables_wrapper {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    height: 100%;
    /*border-color: #337ab7;*/
}

    .dataTables_wrapper > .TablePrimary thead th {
        border-color: #337ab7;
        width: 100%;
    }

table.TablePrimary tbody th {
    text-align: left;
    background: #91c5d4;
    border-color: #337ab7;
}

/********************************************************/
/*********************SIDE BAR***************************/
/********************************************************/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

    #sidebar.active 
    {
        margin-left: -200px;
    }

/***Menu Dropdown******/
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}



/********************/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
   background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #424242; 
  
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #151515;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6E6E6E;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.bgSidebar{background: #151515;}

