<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="Sql" connectionString="Data Source=SQL7001.SmarterASP.NET;Initial Catalog=DB_A2AB94_sims;User Id=DB_A2AB94_sims_admin;Password=arkham0906;" providerName="System.Data.SqlClient"/>-->
    <add name="Sql" connectionString="Data Source=.\SQLExpress;Initial Catalog=SimsDB;User ID=sa;Password=arkham0906;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source = C:\Users\ArkhamEng\Documents\LISTA CIOSA MAYO 2017.xls; Extended Properties = 'Excel 12.0;HDR=Yes'" />
  </connectionStrings>
</configuration>