

<div id="ModalPayment" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger panel-group">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Selecciona la forma de págo</h4>
            </div>
            <div class="modal-body panel-body">
                <div class="radio">
                    <h4>
                        <span class="fa fa-credit-card"></span>
                        &nbsp;
                        <label>
                            <input type="radio" id="rdCard"  name="payment" value="Tarjeta">
                            Crédito / Débito
                        </label>

                    </h4>
                </div>
                <hr />
                <div class="radio">
                    <h4>
                        <span class="fa fa-money"></span>
                        &nbsp;
                        <label>
                            <input type="radio" id="rdCash" name="payment" value="Efectivo" checked>
                            Efectivo
                        </label>
                    </h4>
                </div>

                <div id="divCash" >
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">Efectivo</span>
                        <input type="number" hidden id="txtPayment" class="form-control"  value="0" />
                        <span class="input-group-addon">Cambio</span>
                        <input type="number" hidden id="txtChange" class="form-control" value="0" readonly="readonly" />
                    </div>
                </div>
                <hr />
                <div class="radio">
                    <h4>
                        <span class="fa fa-dollar"></span>
                        &nbsp;&nbsp;&nbsp;
                        <label>
                            <input type="radio" id="rdMix" name="payment" value="Mixto">
                            Pago míxto
                        </label>
                    </h4>
                </div>

                <div id="divMix" hidden>
                    <div class="input-group col-md-12">
                        <span class="input-group-addon">Efectivo</span>
                        <input type="number" hidden id="txtCash" class="form-control" name="Cash" value="0"  />
                        <span class="input-group-addon">Tarjeta</span>
                        <input type="number" hidden id="txtCard" class="form-control" name="Card" value="0" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" onclick="RegisterPayment()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Aceptar 
                </button>

                <button class="btn btn-danger" type="button" id="btnCancel">
                    <span class="fa fa-times"></span>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#ModalPayment').on('hidden.bs.modal', function ()
        {
            
        });


        $("#btnCancel").click(function ()
        {
            $("#txtCard").val("");
            $("#txtCash").val("");
            $("#divMix").hide();
            $("#divCash").hide();
            $("#txtPayment").val("");
            $("#txtChange").val("");

            $("#payment").val("cash");
            $("#ModalPayment").modal("hide");
        });

        $("#rdCash").change(function ()
        {
            if (this.checked)
            {
                $("#txtCard").val("");
                $("#txtCash").val("");
                $("#divMix").hide();
                $("#divCash").show();
            }
        });

        $("#rdCard").change(function ()
        {
            if (this.checked)
            {
                $("#txtCard").val("");
                $("#txtCash").val("");
                $("#divMix").hide();
                $("#divCash").hide();
                $("#txtPayment").val("");
                $("#txtChange").val("");
            }
        });

        $("#rdMix").change(function ()
        {
            if (this.checked)
            {
                $("#divMix").show();
                $("#divCash").hide();
                $("#txtPayment").val("");
                $("#txtChange").val("");
            }
        });

        $("#txtCash").keyup(function ()
        {
            var val = $("#txtCash").val();
            var result = Calculate(val);

            result = parseFloat(result).toFixed(2);

            $("#txtCard").val(result);
        });

        $("#txtCard").keyup(function ()
        {
            var val = $("#txtCard").val();
            var result = Calculate(val);

            result = parseFloat(result).toFixed(2);

            $("#txtCash").val(result);
        });

        $("#txtPayment").keyup(function ()
        {
            var val = $("#txtPayment").val();
            var result = GetChange(val);

            result = parseFloat(result).toFixed(2);

            $("#txtChange").val(result);
        });
    });

    function RegisterPayment()
    {
        $("#ModalPayment").modal('hide');

        var param;

        if ($("#rdCash").is(":checked"))
        {
            param = {
                transactionId: $("#TransactionId").val(),
                payment: $("#rdCash").val(),
                cash: $("#lblTotalAmount").text().replace(/[$,]+/g, "") };
        }

        else if ($("#rdCard").is(":checked"))
        {
            param = {
                transactionId: $("#TransactionId").val(),
                payment: $("#rdCard").val(),
                cash: $("#lblTotalAmount").text().replace(/[$,]+/g, "")
            };
        }
        else
        {
            param = {
                transactionId: $("#TransactionId").val(),
                payment: $("#rdMix").val(),
                cash: $("#txtCash").val(),
                card: $("#txtCard").val()
            };
        }

        ExecuteAjax('@Url.Action("RegisterPayment")', param, function (j) { Response(j) });
    }

    function Response(j)
    {
        if (j.Result != 'OK')
        {
            ShowMessage(j.Result, j.Message, 'warning');
        }
        else
        {
            window.location = '@Url.Action("PrintNote")'+"/"+j.Message;
        }
    }

</script>